/* Geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Colors and Gradients */
.bg-gradient-primary {
    background: linear-gradient(90deg, #0d47a1, #42a5f5);
}
.bg-gradient-secondary {
    background: linear-gradient(90deg, #424242, #757575);
}

/* Menu */
.nav-menu {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
}

.nav-menu ul {
    list-style-type: none;
    padding: 0;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
}

.menu-toggle {
    display: none; /* Oculta o botão de menu por padrão */
}

/* Responsividade */
@media (max-width: 768px) {
    .menu-toggle {
        display: block; /* Mostra o botão de menu em telas pequenas */
    }

    .nav-menu {
        display: none; /* Oculta o menu em telas pequenas */
        flex-direction: column;
    }

    .nav-menu.active {
        display: flex; /* Exibe o menu quando a classe 'active' é adicionada */
    }
}
