{% extends "layouts/base.twig" %}

{% block content %}
<div class="home-container text-center">
    <h1>Bem-vindo ao SATE</h1>
    <p>Gerencie com facilidade os agendamentos e autorizações de transporte escolar.</p>

    <!-- Inclusão do formulário de login -->
    {% include "pages/login-form.twig" %}
</div>
{% endblock %}
