<div class="login-form">
    <form method="POST" action="/login">
        <h2>Login</h2>
        <div>
            <label for="username" hidden>Usuário:</label>
            <input type="text" id="username" name="username" placeholder="Usuário" required>
        </div>
        <div>
            <label for="password" hidden>Senha:</label>
            <input type="password" id="password" name="password"placeholder="Senha" required>
        </div>
        <div>
            <input type="submit" value="Entrar">
        </div>
    </form>
</div>
