{% extends 'layouts/base.twig' %}
{% block content %}
<h1>Agendamentos</h1>
<p>Lista de agendamentos disponíveis.</p>
<div>
    <a href="/dashboard" class="btn btn-outline-primary">Voltar ao Dashboard</a>
</div>
{% endblock %}